In [1]:
#jupyter notebook에서 장고 환경 로딩하기
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "mydjango13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [3]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

In [4]:
Shop

mall.models.Shop

# Create

### *create 하는 방법

In [5]:
shop = Shop() # Shop는 클래스명. 대게 첫글자를 대문자로 사용함. First_shop(o), first_shop(x), first_Shop(x), 
shop.name = "투썸플레이스"
shop.telephone = "042-1234-1234"

In [6]:
shop.save()

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('투썸플레이스', '', '042-1234-1234', '', '2021-12-01 06:40:54.505580', '2021-12-01 06:40:54.505580'); args=['투썸플레이스', '', '042-1234-1234', '', '2021-12-01 06:40:54.505580', '2021-12-01 06:40:54.505580']

In [7]:
shop = Shop.objects.create(
    name="셀프24시빨래방",
    telephone=".042-1234-4321",
)

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('셀프24시빨래방', '', '.042-1234-4321', '', '2021-12-01 06:40:54.521267', '2021-12-01 06:40:54.521267'); args=['셀프24시빨래방', '', '.042-1234-4321', '', '2021-12-01 06:40:54.521267', '2021-12-01 06:40:54.521267']

# Select

In [8]:
qs = Shop.objects.all()
# 순서가 미묘하게 달라질 수 있으니 정렬을 해줘야함.

In [9]:
for shop in qs:
    print(shop.pk,shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

6 셀프24시빨래방 .042-1234-4321
5 투썸플레이스 042-1234-1234
4 셀프24시빨래방 .042-1234-4321
3 투썸플레이스 042-1234-1234

In [10]:
qs.order_by("-id")

# id - 오름차순 정렬 (asc)
# -id - 내림차순 정렬 (desc)
# ", created_at") 정렬은 가급적 단일 컬럼 사용

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

In [25]:
qs[-10:] # 마지막 10개 > DB에서는 지원하지 않는 기능.

AssertionError: Negative indexing is not supported.

In [26]:
qs.order_by("id")[:10]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (3)>, <Shop: Shop object (4)>, <Shop: Shop object (5)>, <Shop: Shop object (6)>, <Shop: Shop object (7)>, <Shop: Shop object (8)>, <Shop: Shop object (9)>, <Shop: Shop object (10)>, <Shop: Shop object (11)>, <Shop: Shop object (12)>]>

In [27]:
for shop in reversed(qs.order_by("id")[:10]):
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

12 가계명#6 042-1234-9006
11 가계명#5 042-1234-9005
10 가계명#4 042-1234-9004
9 가계명#3 042-1234-9003
8 가계명#2 042-1234-9002
7 가계명#1 042-1234-9001
6 셀프24시빨래방 .042-1234-4321
5 투썸플레이스 042-1234-1234
4 셀프24시빨래방 .042-1234-4321
3 투썸플레이스 042-1234-1234

## 데이터 뻥튀기

In [18]:
for i in range(1,101):
    name = f"가계명#{i}"
    telephone=f"042-1234-9{i:03}"
#     print(name, telephone)
    # 빈자리를 0으로 채우고 싶어서 03
    Shop.objects.create(
    name=name,
    telephone=telephone,
)

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#1', '', '042-1234-9001', '', '2021-12-01 06:45:36.744416', '2021-12-01 06:45:36.744416'); args=['가계명#1', '', '042-1234-9001', '', '2021-12-01 06:45:36.744416', '2021-12-01 06:45:36.744416']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#2', '', '042-1234-9002', '', '2021-12-01 06:45:36.764367', '2021-12-01 06:45:36.764367'); args=['가계명#2', '', '042-1234-9002', '', '2021-12-01 06:45:36.764367', '2021-12-01 06:45:36.764367']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#3', '', '042-1234-9003', '', '2021-12-01 06:45:36.773383', '2021-12-01 06:45:36.773383'); args=['가계명#3', '', '042-1234-9003', '', '2021-12-01 06:45:36.773383', '2021-12-01 06:45:36.773383']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#4', '', '042-1234-9004', '', '2021-12-01 06:45:36.779464', '2021-12-01 06:45:36.780466'); args=['가계명#4', '', '042-1234-9004', '', '2021-12-01 06:45:36.779464', '2021-12-01 06:45:36.780466']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#5', '', '042-1234-9005', '', '2021-12-01 06:45:36.787349', '2021-12-01 06:45:36.787349'); args=['가계명#5', '', '042-1234-9005', '', '2021-12-01 06:45:36.787349', '2021-12-01 06:45:36.787349']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#6', '', '042-1234-9006', '', '2021-12-01 06:45:36.793359', '2021-12-01 06:45:36.793359'); args=['가계명#6', '', '042-1234-9006', '', '2021-12-01 06:45:36.793359', '2021-12-01 06:45:36.793359']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#7', '', '042-1234-9007', '', '2021-12-01 06:45:36.798346', '2021-12-01 06:45:36.798346'); args=['가계명#7', '', '042-1234-9007', '', '2021-12-01 06:45:36.798346', '2021-12-01 06:45:36.798346']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#8', '', '042-1234-9008', '', '2021-12-01 06:45:36.804331', '2021-12-01 06:45:36.804331'); args=['가계명#8', '', '042-1234-9008', '', '2021-12-01 06:45:36.804331', '2021-12-01 06:45:36.804331']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#9', '', '042-1234-9009', '', '2021-12-01 06:45:36.811311', '2021-12-01 06:45:36.811311'); args=['가계명#9', '', '042-1234-9009', '', '2021-12-01 06:45:36.811311', '2021-12-01 06:45:36.811311']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#10', '', '042-1234-9010', '', '2021-12-01 06:45:36.817295', '2021-12-01 06:45:36.817295'); args=['가계명#10', '', '042-1234-9010', '', '2021-12-01 06:45:36.817295', '2021-12-01 06:45:36.817295']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#11', '', '042-1234-9011', '', '2021-12-01 06:45:36.823286', '2021-12-01 06:45:36.823286'); args=['가계명#11', '', '042-1234-9011', '', '2021-12-01 06:45:36.823286', '2021-12-01 06:45:36.823286']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#12', '', '042-1234-9012', '', '2021-12-01 06:45:36.830261', '2021-12-01 06:45:36.830261'); args=['가계명#12', '', '042-1234-9012', '', '2021-12-01 06:45:36.830261', '2021-12-01 06:45:36.830261']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#13', '', '042-1234-9013', '', '2021-12-01 06:45:36.837243', '2021-12-01 06:45:36.837243'); args=['가계명#13', '', '042-1234-9013', '', '2021-12-01 06:45:36.837243', '2021-12-01 06:45:36.837243']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#14', '', '042-1234-9014', '', '2021-12-01 06:45:36.843227', '2021-12-01 06:45:36.843227'); args=['가계명#14', '', '042-1234-9014', '', '2021-12-01 06:45:36.843227', '2021-12-01 06:45:36.843227']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#15', '', '042-1234-9015', '', '2021-12-01 06:45:36.849210', '2021-12-01 06:45:36.849210'); args=['가계명#15', '', '042-1234-9015', '', '2021-12-01 06:45:36.849210', '2021-12-01 06:45:36.849210']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#16', '', '042-1234-9016', '', '2021-12-01 06:45:36.855194', '2021-12-01 06:45:36.855194'); args=['가계명#16', '', '042-1234-9016', '', '2021-12-01 06:45:36.855194', '2021-12-01 06:45:36.855194']
(0.032) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#17', '', '042-1234-9017', '', '2021-12-01 06:45:36.862176', '2021-12-01 06:45:36.862176'); args=['가계명#17', '', '042-1234-9017', '', '2021-12-01 06:45:36.862176', '2021-12-01 06:45:36.862176']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#18', '', '042-1234-9018', '', '2021-12-01 06:45:36.887197', '2021-12-01 06:45:36.887197'); args=['가계명#18', '', '042-1234-9018', '', '2021-12-01 06:45:36.887197', '2021-12-01 06:45:36.887197']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#19', '', '042-1234-9019', '', '2021-12-01 06:45:36.893183', '2021-12-01 06:45:36.893183'); args=['가계명#19', '', '042-1234-9019', '', '2021-12-01 06:45:36.893183', '2021-12-01 06:45:36.893183']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#20', '', '042-1234-9020', '', '2021-12-01 06:45:36.899165', '2021-12-01 06:45:36.899165'); args=['가계명#20', '', '042-1234-9020', '', '2021-12-01 06:45:36.899165', '2021-12-01 06:45:36.899165']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#21', '', '042-1234-9021', '', '2021-12-01 06:45:36.906147', '2021-12-01 06:45:36.906147'); args=['가계명#21', '', '042-1234-9021', '', '2021-12-01 06:45:36.906147', '2021-12-01 06:45:36.906147']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#22', '', '042-1234-9022', '', '2021-12-01 06:45:36.913457', '2021-12-01 06:45:36.913457'); args=['가계명#22', '', '042-1234-9022', '', '2021-12-01 06:45:36.913457', '2021-12-01 06:45:36.913457']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#23', '', '042-1234-9023', '', '2021-12-01 06:45:36.920438', '2021-12-01 06:45:36.920438'); args=['가계명#23', '', '042-1234-9023', '', '2021-12-01 06:45:36.920438', '2021-12-01 06:45:36.920438']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#24', '', '042-1234-9024', '', '2021-12-01 06:45:36.927419', '2021-12-01 06:45:36.927419'); args=['가계명#24', '', '042-1234-9024', '', '2021-12-01 06:45:36.927419', '2021-12-01 06:45:36.927419']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#25', '', '042-1234-9025', '', '2021-12-01 06:45:36.933404', '2021-12-01 06:45:36.933404'); args=['가계명#25', '', '042-1234-9025', '', '2021-12-01 06:45:36.933404', '2021-12-01 06:45:36.933404']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#26', '', '042-1234-9026', '', '2021-12-01 06:45:36.940384', '2021-12-01 06:45:36.940384'); args=['가계명#26', '', '042-1234-9026', '', '2021-12-01 06:45:36.940384', '2021-12-01 06:45:36.940384']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#27', '', '042-1234-9027', '', '2021-12-01 06:45:36.946370', '2021-12-01 06:45:36.946370'); args=['가계명#27', '', '042-1234-9027', '', '2021-12-01 06:45:36.946370', '2021-12-01 06:45:36.946370']

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#28', '', '042-1234-9028', '', '2021-12-01 06:45:36.971848', '2021-12-01 06:45:36.971848'); args=['가계명#28', '', '042-1234-9028', '', '2021-12-01 06:45:36.971848', '2021-12-01 06:45:36.971848']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#29', '', '042-1234-9029', '', '2021-12-01 06:45:36.977832', '2021-12-01 06:45:36.977832'); args=['가계명#29', '', '042-1234-9029', '', '2021-12-01 06:45:36.977832', '2021-12-01 06:45:36.977832']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#30', '', '042-1234-9030', '', '2021-12-01 06:45:36.987824', '2021-12-01 06:45:36.987824'); args=['가계명#30', '', '042-1234-9030', '', '2021-12-01 06:45:36.987824', '2021-12-01 06:45:36.987824']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#31', '', '042-1234-9031', '', '2021-12-01 06:45:36.994806', '2021-12-01 06:45:36.994806'); args=['가계명#31', '', '042-1234-9031', '', '2021-12-01 06:45:36.994806', '2021-12-01 06:45:36.994806']
(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#32', '', '042-1234-9032', '', '2021-12-01 06:45:36.999791', '2021-12-01 06:45:36.999791'); args=['가계명#32', '', '042-1234-9032', '', '2021-12-01 06:45:36.999791', '2021-12-01 06:45:36.999791']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#33', '', '042-1234-9033', '', '2021-12-01 06:45:37.022439', '2021-12-01 06:45:37.022439'); args=['가계명#33', '', '042-1234-9033', '', '2021-12-01 06:45:37.022439', '2021-12-01 06:45:37.022439']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#34', '', '042-1234-9034', '', '2021-12-01 06:45:37.029420', '2021-12-01 06:45:37.029420'); args=['가계명#34', '', '042-1234-9034', '', '2021-12-01 06:45:37.029420', '2021-12-01 06:45:37.029420']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#35', '', '042-1234-9035', '', '2021-12-01 06:45:37.037400', '2021-12-01 06:45:37.037400'); args=['가계명#35', '', '042-1234-9035', '', '2021-12-01 06:45:37.037400', '2021-12-01 06:45:37.037400']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#36', '', '042-1234-9036', '', '2021-12-01 06:45:37.043269', '2021-12-01 06:45:37.043269'); args=['가계명#36', '', '042-1234-9036', '', '2021-12-01 06:45:37.043269', '2021-12-01 06:45:37.043269']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#37', '', '042-1234-9037', '', '2021-12-01 06:45:37.049256', '2021-12-01 06:45:37.049256'); args=['가계명#37', '', '042-1234-9037', '', '2021-12-01 06:45:37.049256', '2021-12-01 06:45:37.049256']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#38', '', '042-1234-9038', '', '2021-12-01 06:45:37.055240', '2021-12-01 06:45:37.055240'); args=['가계명#38', '', '042-1234-9038', '', '2021-12-01 06:45:37.055240', '2021-12-01 06:45:37.055240']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#39', '', '042-1234-9039', '', '2021-12-01 06:45:37.061224', '2021-12-01 06:45:37.061224'); args=['가계명#39', '', '042-1234-9039', '', '2021-12-01 06:45:37.061224', '2021-12-01 06:45:37.061224']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#40', '', '042-1234-9040', '', '2021-12-01 06:45:37.067210', '2021-12-01 06:45:37.067210'); args=['가계명#40', '', '042-1234-9040', '', '2021-12-01 06:45:37.067210', '2021-12-01 06:45:37.067210']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#41', '', '042-1234-9041', '', '2021-12-01 06:45:37.075190', '2021-12-01 06:45:37.075190'); args=['가계명#41', '', '042-1234-9041', '', '2021-12-01 06:45:37.075190', '2021-12-01 06:45:37.075190']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#42', '', '042-1234-9042', '', '2021-12-01 06:45:37.085875', '2021-12-01 06:45:37.085875'); args=['가계명#42', '', '042-1234-9042', '', '2021-12-01 06:45:37.085875', '2021-12-01 06:45:37.085875']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#43', '', '042-1234-9043', '', '2021-12-01 06:45:37.092635', '2021-12-01 06:45:37.092635'); args=['가계명#43', '', '042-1234-9043', '', '2021-12-01 06:45:37.092635', '2021-12-01 06:45:37.092635']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#44', '', '042-1234-9044', '', '2021-12-01 06:45:37.098488', '2021-12-01 06:45:37.098488'); args=['가계명#44', '', '042-1234-9044', '', '2021-12-01 06:45:37.098488', '2021-12-01 06:45:37.098488']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#45', '', '042-1234-9045', '', '2021-12-01 06:45:37.104471', '2021-12-01 06:45:37.104471'); args=['가계명#45', '', '042-1234-9045', '', '2021-12-01 06:45:37.104471', '2021-12-01 06:45:37.104471']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#46', '', '042-1234-9046', '', '2021-12-01 06:45:37.110945', '2021-12-01 06:45:37.110945'); args=['가계명#46', '', '042-1234-9046', '', '2021-12-01 06:45:37.110945', '2021-12-01 06:45:37.110945']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#47', '', '042-1234-9047', '', '2021-12-01 06:45:37.116929', '2021-12-01 06:45:37.116929'); args=['가계명#47', '', '042-1234-9047', '', '2021-12-01 06:45:37.116929', '2021-12-01 06:45:37.116929']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#48', '', '042-1234-9048', '', '2021-12-01 06:45:37.123910', '2021-12-01 06:45:37.123910'); args=['가계명#48', '', '042-1234-9048', '', '2021-12-01 06:45:37.123910', '2021-12-01 06:45:37.123910']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#49', '', '042-1234-9049', '', '2021-12-01 06:45:37.129404', '2021-12-01 06:45:37.129404'); args=['가계명#49', '', '042-1234-9049', '', '2021-12-01 06:45:37.129404', '2021-12-01 06:45:37.129404']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#50', '', '042-1234-9050', '', '2021-12-01 06:45:37.135390', '2021-12-01 06:45:37.135390'); args=['가계명#50', '', '042-1234-9050', '', '2021-12-01 06:45:37.135390', '2021-12-01 06:45:37.135390']
(0.046) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#51', '', '042-1234-9051', '', '2021-12-01 06:45:37.141373', '2021-12-01 06:45:37.141373'); args=['가계명#51', '', '042-1234-9051', '', '2021-12-01 06:45:37.141373', '2021-12-01 06:45:37.141373']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#52', '', '042-1234-9052', '', '2021-12-01 06:45:37.179963', '2021-12-01 06:45:37.179963'); args=['가계명#52', '', '042-1234-9052', '', '2021-12-01 06:45:37.179963', '2021-12-01 06:45:37.179963']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#53', '', '042-1234-9053', '', '2021-12-01 06:45:37.189509', '2021-12-01 06:45:37.189509'); args=['가계명#53', '', '042-1234-9053', '', '2021-12-01 06:45:37.189509', '2021-12-01 06:45:37.189509']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#54', '', '042-1234-9054', '', '2021-12-01 06:45:37.199402', '2021-12-01 06:45:37.199402'); args=['가계명#54', '', '042-1234-9054', '', '2021-12-01 06:45:37.199402', '2021-12-01 06:45:37.199402']

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#55', '', '042-1234-9055', '', '2021-12-01 06:45:37.205386', '2021-12-01 06:45:37.205386'); args=['가계명#55', '', '042-1234-9055', '', '2021-12-01 06:45:37.205386', '2021-12-01 06:45:37.205386']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#56', '', '042-1234-9056', '', '2021-12-01 06:45:37.212630', '2021-12-01 06:45:37.212630'); args=['가계명#56', '', '042-1234-9056', '', '2021-12-01 06:45:37.212630', '2021-12-01 06:45:37.212630']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#57', '', '042-1234-9057', '', '2021-12-01 06:45:37.218615', '2021-12-01 06:45:37.219612'); args=['가계명#57', '', '042-1234-9057', '', '2021-12-01 06:45:37.218615', '2021-12-01 06:45:37.219612']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#58', '', '042-1234-9058', '', '2021-12-01 06:45:37.224597', '2021-12-01 06:45:37.224597'); args=['가계명#58', '', '042-1234-9058', '', '2021-12-01 06:45:37.224597', '2021-12-01 06:45:37.224597']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#59', '', '042-1234-9059', '', '2021-12-01 06:45:37.230581', '2021-12-01 06:45:37.230581'); args=['가계명#59', '', '042-1234-9059', '', '2021-12-01 06:45:37.230581', '2021-12-01 06:45:37.230581']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#60', '', '042-1234-9060', '', '2021-12-01 06:45:37.237565', '2021-12-01 06:45:37.237565'); args=['가계명#60', '', '042-1234-9060', '', '2021-12-01 06:45:37.237565', '2021-12-01 06:45:37.237565']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#61', '', '042-1234-9061', '', '2021-12-01 06:45:37.243533', '2021-12-01 06:45:37.243533'); args=['가계명#61', '', '042-1234-9061', '', '2021-12-01 06:45:37.243533', '2021-12-01 06:45:37.243533']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#62', '', '042-1234-9062', '', '2021-12-01 06:45:37.249167', '2021-12-01 06:45:37.249167'); args=['가계명#62', '', '042-1234-9062', '', '2021-12-01 06:45:37.249167', '2021-12-01 06:45:37.249167']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#63', '', '042-1234-9063', '', '2021-12-01 06:45:37.255151', '2021-12-01 06:45:37.255151'); args=['가계명#63', '', '042-1234-9063', '', '2021-12-01 06:45:37.255151', '2021-12-01 06:45:37.255151']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#64', '', '042-1234-9064', '', '2021-12-01 06:45:37.261425', '2021-12-01 06:45:37.261425'); args=['가계명#64', '', '042-1234-9064', '', '2021-12-01 06:45:37.261425', '2021-12-01 06:45:37.261425']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#65', '', '042-1234-9065', '', '2021-12-01 06:45:37.268407', '2021-12-01 06:45:37.268407'); args=['가계명#65', '', '042-1234-9065', '', '2021-12-01 06:45:37.268407', '2021-12-01 06:45:37.268407']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#66', '', '042-1234-9066', '', '2021-12-01 06:45:37.274390', '2021-12-01 06:45:37.274390'); args=['가계명#66', '', '042-1234-9066', '', '2021-12-01 06:45:37.274390', '2021-12-01 06:45:37.274390']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#67', '', '042-1234-9067', '', '2021-12-01 06:45:37.281013', '2021-12-01 06:45:37.281013'); args=['가계명#67', '', '042-1234-9067', '', '2021-12-01 06:45:37.281013', '2021-12-01 06:45:37.281013']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#68', '', '042-1234-9068', '', '2021-12-01 06:45:37.286997', '2021-12-01 06:45:37.286997'); args=['가계명#68', '', '042-1234-9068', '', '2021-12-01 06:45:37.286997', '2021-12-01 06:45:37.286997']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#69', '', '042-1234-9069', '', '2021-12-01 06:45:37.292981', '2021-12-01 06:45:37.292981'); args=['가계명#69', '', '042-1234-9069', '', '2021-12-01 06:45:37.292981', '2021-12-01 06:45:37.292981']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#70', '', '042-1234-9070', '', '2021-12-01 06:45:37.298964', '2021-12-01 06:45:37.298964'); args=['가계명#70', '', '042-1234-9070', '', '2021-12-01 06:45:37.298964', '2021-12-01 06:45:37.298964']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#71', '', '042-1234-9071', '', '2021-12-01 06:45:37.304949', '2021-12-01 06:45:37.304949'); args=['가계명#71', '', '042-1234-9071', '', '2021-12-01 06:45:37.304949', '2021-12-01 06:45:37.304949']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#72', '', '042-1234-9072', '', '2021-12-01 06:45:37.311419', '2021-12-01 06:45:37.311419'); args=['가계명#72', '', '042-1234-9072', '', '2021-12-01 06:45:37.311419', '2021-12-01 06:45:37.311419']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#73', '', '042-1234-9073', '', '2021-12-01 06:45:37.317403', '2021-12-01 06:45:37.317403'); args=['가계명#73', '', '042-1234-9073', '', '2021-12-01 06:45:37.317403', '2021-12-01 06:45:37.317403']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#74', '', '042-1234-9074', '', '2021-12-01 06:45:37.324384', '2021-12-01 06:45:37.324384'); args=['가계명#74', '', '042-1234-9074', '', '2021-12-01 06:45:37.324384', '2021-12-01 06:45:37.324384']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#75', '', '042-1234-9075', '', '2021-12-01 06:45:37.336487', '2021-12-01 06:45:37.336487'); args=['가계명#75', '', '042-1234-9075', '', '2021-12-01 06:45:37.336487', '2021-12-01 06:45:37.336487']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#76', '', '042-1234-9076', '', '2021-12-01 06:45:37.344953', '2021-12-01 06:45:37.344953'); args=['가계명#76', '', '042-1234-9076', '', '2021-12-01 06:45:37.344953', '2021-12-01 06:45:37.344953']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#77', '', '042-1234-9077', '', '2021-12-01 06:45:37.359917', '2021-12-01 06:45:37.359917'); args=['가계명#77', '', '042-1234-9077', '', '2021-12-01 06:45:37.359917', '2021-12-01 06:45:37.359917']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#78', '', '042-1234-9078', '', '2021-12-01 06:45:37.369890', '2021-12-01 06:45:37.369890'); args=['가계명#78', '', '042-1234-9078', '', '2021-12-01 06:45:37.369890', '2021-12-01 06:45:37.369890']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#79', '', '042-1234-9079', '', '2021-12-01 06:45:37.380861', '2021-12-01 06:45:37.380861'); args=['가계명#79', '', '042-1234-9079', '', '2021-12-01 06:45:37.380861', '2021-12-01 06:45:37.380861']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#80', '', '042-1234-9080', '', '2021-12-01 06:45:37.386846', '2021-12-01 06:45:37.386846'); args=['가계명#80', '', '042-1234-9080', '', '2021-12-01 06:45:37.386846', '2021-12-01 06:45:37.386846']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#81', '', '042-1234-9081', '', '2021-12-01 06:45:37.392829', '2021-12-01 06:45:37.392829'); args=['가계명#81', '', '042-1234-9081', '', '2021-12-01 06:45:37.392829', '2021-12-01 06:45:37.392829']

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#82', '', '042-1234-9082', '', '2021-12-01 06:45:37.399078', '2021-12-01 06:45:37.399078'); args=['가계명#82', '', '042-1234-9082', '', '2021-12-01 06:45:37.399078', '2021-12-01 06:45:37.399078']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#83', '', '042-1234-9083', '', '2021-12-01 06:45:37.406062', '2021-12-01 06:45:37.406062'); args=['가계명#83', '', '042-1234-9083', '', '2021-12-01 06:45:37.406062', '2021-12-01 06:45:37.406062']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#84', '', '042-1234-9084', '', '2021-12-01 06:45:37.413040', '2021-12-01 06:45:37.413040'); args=['가계명#84', '', '042-1234-9084', '', '2021-12-01 06:45:37.413040', '2021-12-01 06:45:37.413040']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#85', '', '042-1234-9085', '', '2021-12-01 06:45:37.420024', '2021-12-01 06:45:37.420024'); args=['가계명#85', '', '042-1234-9085', '', '2021-12-01 06:45:37.420024', '2021-12-01 06:45:37.420024']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#86', '', '042-1234-9086', '', '2021-12-01 06:45:37.425767', '2021-12-01 06:45:37.425767'); args=['가계명#86', '', '042-1234-9086', '', '2021-12-01 06:45:37.425767', '2021-12-01 06:45:37.425767']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#87', '', '042-1234-9087', '', '2021-12-01 06:45:37.431872', '2021-12-01 06:45:37.431872'); args=['가계명#87', '', '042-1234-9087', '', '2021-12-01 06:45:37.431872', '2021-12-01 06:45:37.431872']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#88', '', '042-1234-9088', '', '2021-12-01 06:45:37.437858', '2021-12-01 06:45:37.437858'); args=['가계명#88', '', '042-1234-9088', '', '2021-12-01 06:45:37.437858', '2021-12-01 06:45:37.437858']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#89', '', '042-1234-9089', '', '2021-12-01 06:45:37.444364', '2021-12-01 06:45:37.444364'); args=['가계명#89', '', '042-1234-9089', '', '2021-12-01 06:45:37.444364', '2021-12-01 06:45:37.444364']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#90', '', '042-1234-9090', '', '2021-12-01 06:45:37.449927', '2021-12-01 06:45:37.449927'); args=['가계명#90', '', '042-1234-9090', '', '2021-12-01 06:45:37.449927', '2021-12-01 06:45:37.449927']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#91', '', '042-1234-9091', '', '2021-12-01 06:45:37.456912', '2021-12-01 06:45:37.456912'); args=['가계명#91', '', '042-1234-9091', '', '2021-12-01 06:45:37.456912', '2021-12-01 06:45:37.456912']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#92', '', '042-1234-9092', '', '2021-12-01 06:45:37.462896', '2021-12-01 06:45:37.462896'); args=['가계명#92', '', '042-1234-9092', '', '2021-12-01 06:45:37.462896', '2021-12-01 06:45:37.462896']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#93', '', '042-1234-9093', '', '2021-12-01 06:45:37.468894', '2021-12-01 06:45:37.468894'); args=['가계명#93', '', '042-1234-9093', '', '2021-12-01 06:45:37.468894', '2021-12-01 06:45:37.468894']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#94', '', '042-1234-9094', '', '2021-12-01 06:45:37.474884', '2021-12-01 06:45:37.474884'); args=['가계명#94', '', '042-1234-9094', '', '2021-12-01 06:45:37.474884', '2021-12-01 06:45:37.474884']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#95', '', '042-1234-9095', '', '2021-12-01 06:45:37.484859', '2021-12-01 06:45:37.484859'); args=['가계명#95', '', '042-1234-9095', '', '2021-12-01 06:45:37.484859', '2021-12-01 06:45:37.484859']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#96', '', '042-1234-9096', '', '2021-12-01 06:45:37.491839', '2021-12-01 06:45:37.491839'); args=['가계명#96', '', '042-1234-9096', '', '2021-12-01 06:45:37.491839', '2021-12-01 06:45:37.491839']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#97', '', '042-1234-9097', '', '2021-12-01 06:45:37.496826', '2021-12-01 06:45:37.496826'); args=['가계명#97', '', '042-1234-9097', '', '2021-12-01 06:45:37.496826', '2021-12-01 06:45:37.496826']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#98', '', '042-1234-9098', '', '2021-12-01 06:45:37.504806', '2021-12-01 06:45:37.504806'); args=['가계명#98', '', '042-1234-9098', '', '2021-12-01 06:45:37.504806', '2021-12-01 06:45:37.504806']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#99', '', '042-1234-9099', '', '2021-12-01 06:45:37.513990', '2021-12-01 06:45:37.513990'); args=['가계명#99', '', '042-1234-9099', '', '2021-12-01 06:45:37.513990', '2021-12-01 06:45:37.513990']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "cerated_at", "updated_at") VALUES ('가계명#100', '', '042-1234-9100', '', '2021-12-01 06:45:37.524064', '2021-12-01 06:45:37.524064'); args=['가계명#100', '', '042-1234-9100', '', '2021-12-01 06:45:37.524064', '2021-12-01 06:45:37.524064']

# Slicing

In [19]:
qs = Shop.objects.all()

In [20]:
qs[:10]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>]>

In [21]:
qs[0:10:2]
#0번이상 10번 미만 2개씩 건너뜀.
#step은 파이썬에서 지원하는 기능이지 DB에서는 지원하지 않아 DB에서는 10개를 가져오고, 반환만 5개를 보여줌.

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

[<Shop: Shop object (106)>,
 <Shop: Shop object (104)>,
 <Shop: Shop object (102)>,
 <Shop: Shop object (100)>,
 <Shop: Shop object (98)>]

# Conditions

In [37]:
qs = Shop.objects.all()

In [38]:
# filter <-> exclude

qs.filter(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 1 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

In [39]:
qs.exclude(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE NOT ("mall_shop"."id" = 1) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

<QuerySet [<Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, '...(remaining elements truncated)...']>

In [41]:
# lt : less than <
# lte : less than equal <=
# gt : greater than >
# gte : greater than equal >=
qs.filter(
    pk__gte=5,
    pk__lt=10, # less than
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [43]:
qs.filter(pk__gte=5).filter(pk__lt=10) #.으로 연결해서 호출하는 것을 체이닝(chaining)이라고 함.

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [48]:
qs1 = Shop.objects.all()
qs1 = qs1.filter(pk__gte=5)
qs1 = qs1.filter(pk__lt=10)

In [49]:
qs2 = Shop.objects.all().filter(pk__gte=5).filter(pk__lt=10)

In [ ]:
# filter set을 만드는 방식의 차이고 실제로 별다른 차이는 X

In [50]:
# QuerySet is Lazy.

In [51]:
qs = Shop.objects.all()

In [52]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, '...(remaining elements truncated)...']>

In [57]:
1
2
3
4
5
#python에서는 뭔가를 출력하려면 print를 해야하지만 쥬피터에서는 마지막 줄을 보여주기 시도함.
i=6
# i=6은 i에 6을 할당한 것이기 때문에 output이 나오지 않음.

In [58]:
qs = Shop.objects.all()
shop_list = qs
# DB 접근 안함.
# 하지만 
shop_list=list(qs)
# 로 하면 리스트화를 시키는 것이기 때문에 DB로 접근함.
# 데이터가 많으면 느리게 되기 때문에 효율적으로 쓰기위해서는 쓰지 않는 것이 좋다.

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

## Get 1 Row

In [74]:
pk=10
not_exist_pk = 100000

In [62]:
shop = Shop.objects.get(pk=pk) # 가져올 대상이 1개임을 기대, 1개가 아니면 예외가 발생함.
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [76]:
Shop.objects.get(pk=not_exist_pk) # Shop.DoesExitst 예외가 발샘

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 LIMIT 21; args=(100000,)

DoesNotExist: Shop matching query does not exist.

In [73]:
shop = Shop.objects.filter(pk=pk)[0]
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(10,)

In [77]:
Shop.objects.filter(pk=not_exist_pk)[0] # indexError가 발생.

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

IndexError: list index out of range

In [79]:
Shop.objects.filter(pk=not_exist_pk).first() # 지정 Row가 없다면 None을 반환할 뿐, 예외는 발생 X.

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

## Conditons (OR)

In [82]:
qs = Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10) #and

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [83]:
from django.db.models import Q

In [84]:
Q(pk__gte=5)

In [85]:
Q(pk__lt=10)

In [86]:
Q(pk__gte=5) & Q(pk__lt=10)

In [87]:
Q(pk__gte=5) | Q(pk__lt=10)

In [88]:
qs = Shop.objects.all()
qs.filter(
    Q(pk__gte=5) & Q(pk__lt=10)
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [92]:
conditions = Q(pk__gte=5)
# conditions = conditions | Q(pk__lt=10)
conditions |= Q(pk__lt=10)
# 2번째와 3번째는 같은 결과문을 송출.
conditions

# Updata Rows

## 지정 Row

In [93]:
qs = Shop.objects.all()
shop = qs.get(pk=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [94]:
shop.name, shop.telephone

('가계명#4', '042-1234-9004')

In [95]:
shop.telephone = '042-1234-0006' #DB로 반영은 이루어지지 않았음.

In [96]:
shop.save() # DB에 반영됨.

(0.015) UPDATE "mall_shop" SET "name" = '가계명#4', "description" = '', "telephone" = '042-1234-0006', "photo" = '', "cerated_at" = '2021-12-01 06:45:36.779464', "updated_at" = '2021-12-01 07:38:43.462722' WHERE "mall_shop"."id" = 10; args=('가계명#4', '', '042-1234-0006', '', '2021-12-01 06:45:36.779464', '2021-12-01 07:38:43.462722', 10)

In [97]:
shop.name, shop.telephone

('가계명#4', '042-1234-0006')

## 지정 범위의 Rows

In [98]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
qs. update(
    description="not used description"
)

(0.031) UPDATE "mall_shop" SET "description" = 'not used description' WHERE "mall_shop"."id" <= 10; args=('not used description', 10)

8

In [99]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
for shop in qs:
    shop.description = " not used description"
    shop.save()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."cerated_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" <= 10 ORDER BY "mall_shop"."id" DESC; args=(10,)
(0.016) UPDATE "mall_shop" SET "name" = '가계명#4', "description" = ' not used description', "telephone" = '042-1234-0006', "photo" = '', "cerated_at" = '2021-12-01 06:45:36.779464', "updated_at" = '2021-12-01 07:42:02.453905' WHERE "mall_shop"."id" = 10; args=('가계명#4', ' not used description', '042-1234-0006', '', '2021-12-01 06:45:36.779464', '2021-12-01 07:42:02.453905', 10)
(0.015) UPDATE "mall_shop" SET "name" = '가계명#3', "description" = ' not used description', "telephone" = '042-1234-9003', "photo" = '', "cerated_at" = '2021-12-01 06:45:36.773383', "updated_at" = '2021-12-01 07:42:02.470419' WHERE "mall_shop"."id" = 9; args=('가계명#3', ' not used description', '042-1234-9003', '', '2021-12-01 06:45:36.773383', '2021-12-01 07:42:02.470419', 9)
(0.000) UPDATE "mall_shop" SET "name" = '가계명#2', "description" = ' not used description', "telephone" = '042-1234-9002', "photo" = '', "cerated_at" = '2021-12-01 06:45:36.764367', "updated_at" = '2021-12-01 07:42:02.481388' WHERE "mall_shop"."id" = 8; args=('가계명#2', ' not used description', '042-1234-9002', '', '2021-12-01 06:45:36.764367', '2021-12-01 07:42:02.481388', 8)
(0.016) UPDATE "mall_shop" SET "name" = '가계명#1', "description" = ' not used description', "telephone" = '042-1234-9001', "photo" = '', "cerated_at" = '2021-12-01 06:45:36.744416', "updated_at" = '2021-12-01 07:42:02.487372' WHERE "mall_shop"."id" = 7; args=('가계명#1', ' not used description', '042-1234-9001', '', '2021-12-01 06:45:36.744416', '2021-12-01 07:42:02.487372', 7)
(0.000) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = ' not used description', "telephone" = '.042-1234-4321', "photo" = '', "cerated_at" = '2021-12-01 06:40:54.521267', "updated_at" = '2021-12-01 07:42:02.493358' WHERE "mall_shop"."id" = 6; args=('셀프24시빨래방', ' not used description', '.042-1234-4321', '', '2021-12-01 06:40:54.521267', '2021-12-01 07:42:02.493358', 6)
(0.016) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = ' not used description', "telephone" = '042-1234-1234', "photo" = '', "cerated_at" = '2021-12-01 06:40:54.505580', "updated_at" = '2021-12-01 07:42:02.500338' WHERE "mall_shop"."id" = 5; args=('투썸플레이스', ' not used description', '042-1234-1234', '', '2021-12-01 06:40:54.505580', '2021-12-01 07:42:02.500338', 5)
(0.015) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = ' not used description', "telephone" = '.042-1234-4321', "photo" = '', "cerated_at" = '2021-12-01 06:10:43.844350', "updated_at" = '2021-12-01 07:42:02.517230' WHERE "mall_shop"."id" = 4; args=('셀프24시빨래방', ' not used description', '.042-1234-4321', '', '2021-12-01 06:10:43.844350', '2021-12-01 07:42:02.517230', 4)
(0.000) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = ' not used description', "telephone" = '042-1234-1234', "photo" = '', "cerated_at" = '2021-12-01 06:10:42.665531', "updated_at" = '2021-12-01 07:42:02.524212' WHERE "mall_shop"."id" = 3; args=('투썸플레이스', ' not used description', '042-1234-1234', '', '2021-12-01 06:10:42.665531', '2021-12-01 07:42:02.524212', 3)

In [ ]:
# 1번이 더 효율적임.

# Delete Rows

In [11]:
# qs = Shop.objects.all()

In [12]:
# qs.delete()